<article class="howToUse">
	<div class="about">
		<h2 class="introduction"><span style="text-decoration: underline;">アゲラタムはこんなサービスです。</span></h2>
		<img src="/about1.jpg">
		<img src="/about2.jpg">
		<img src="/about3.jpg">
	</div>	
</article>