<article class="ageratuminfo privacypolicyContent">
	<h2>プライバシーポリシー</h2>
	<p class="description">アゲラタム 取引信用チェッカー（以下、当サービスと記す）運営は、当サービスユーザーの個人情報の保護を約束し、適切な管理をすることを誓約いたします。<p>

	<div class="infoContent">
		<h3>取り扱う個人情報</h3>
		<p>当サービスでの登録は、TwitterAPIを介してTwitterのユーザーID、名前、ニックネーム、アイコン画像を取得します。メールアドレス、パスワードを含め、上記以外のユーザー情報を取得することは一切ありません。</p>
	</div>
	
	<div class="infoContent">
		<h3>利用目的</h3>
		<p>当サービスは、Twitter上で行われるトレーディンググッズの交換・譲渡をはじめとする取引のサポートを目的としております。先に記しましたユーザーIDはTwitterアカウントと当サービスのユーザーを結びつけてログインするため、名前、ニックネーム、画像はユーザー様方がTwitterのアカウントと当サービスのアカウントの一致を認識しやすくするために利用しております。</p>
	</div>
	
	<div class="infoContent">
		<h3>個人情報の開示について</h3>
		<p>当サービスでは、次のような場合を除いて第三者に個人情報を取得することはありません。</p>
		<p>・ユーザー本人の同意がある</p>
		<p>・開示すべき法的義務を負っている</p>
		<p>・不正利用、運営の権利、財産を保護するために必要だと判断された</p>
	</div>
	
</article>