<article class="ageratuminfo termsofserviceContent">
	<h2>利用規約</h2>
	<p class="description">アゲラタム 取引信用チェッカー（以下、当サービスと記す）について以下に定めます。</p>

	<div class="infoContent">
		<h3>定義</h3>
		<p>アゲラタム 取引信用チェッカー運営は、Twitter上のお取引をサポートし、ユーザー皆様に快適、安心、楽しさをお届けできるよう努力いたします。</p>
		<p>当サービスへの登録は、利用規約およびプライバシーポリシーに同意した、と同義だとみなします。もし同意しかねる場合は、当サービスの利用をただちに停止するか、ページ下部にありますお問い合わせフォームより問い合わせ願います。</p>
	</div>
	
	<div class="infoContent">
		<h3>禁止事項</h3>
		<p>当サービスのシステムに悪影響を及ぼす行為を禁じます。</p>
		<p>運営、およびユーザーにとって不利益となる行為を禁じます。</p>
		<p>お取引後のレビューに以下の内容を送信することを禁じます。</p>
		<p>・性的なもの</p>
		<p>・暴力的・残虐性のあるもの</p>
		<p>・差別的、または攻撃性のあるもの</p>
		<p>・犯罪、または犯罪をそそのかすもの</p>
		<p>・いじめ、またはいじめをそそのかすもの</p>
		<p>・スパム、またはスパムサイトへの誘導を含むもの</p>
		<p>・他者の権利を侵害するようなもの</p>
		<p>・公序良俗違反のもの</p>
		<p>・その他運営が不適切であると判断したもの</p>
	</div>
	
	<div class="infoContent">
		<h3>免責事項</h3>
		<p>利用者が日本法に抵触している、不正取引を行ったものとして一定数以上からのアカウント凍結の申請があった、その他運営が不適切だと判断した場合は、運営によりメッセージの削除、アカウントの停止、当サービスへのアクセス禁止等の措置をとることがあります。</p>
		<p>利用規約の変更は運営が予告なく行えるものとし、変更後はユーザー様方に変更をお知らせすることを約束します。</p>
		<p>当サービス内でおきたユーザー間同士の紛争に関して、当人同士で解決するものとし、運営は一切の責任を負いません。</p>
	</div>
	
</article>