/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@charset "utf-8";

/*
Main color b2b9ff;

*/

html, body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'メイリオ', Meiryo,'Arial','ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
	font-size: 13px;
	text-align: center;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

p{
	margin: 0;
	padding: 0;
}

ul, ol, li{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
	color: #000000;
}

textarea{
	white-space: pre-wrap;
}

header{
	width: 100%;
	height: 50px;
	background-color: #b2b9ff;
}

.wrapper{
	width: 80%;
	margin: 0 auto;
}

/*****************************

header

******************************/

.appTitle {
	width: 70%;
    margin: 0 0 0 20px;
    font-size: 18px;
    font-weight: 600;
    height: 50px;
    display: flex;
    align-items: center;
    text-align: left;
}

.appTitle a{	
	color: #f9fcff;
}

.usersSearch{
	margin-right: 20px;
    font-size: 18px;
    height: 50px;
    width: 30px;   
    color: #ffffff;
    display: flex;
    align-items: center;
    float: right;
}

.usersSearch:hover{
	cursor: pointer;
}

/*****************************

introduction

******************************/

.introduction{
	font-size: 25px;
	font-weight: 800;
	padding: 40px 0;
	color: #464646;
}



/*****************************

notice

******************************/
.notice{
	font-size: 18px;
    font-weight: 550;
    border: 2px solid #dcdcdc;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 0px 5px #a9a9a9;
    width: 70%;
    margin: 0 auto;
    border-top: none;
    padding: 10px 0;
}

/*****************************

shareMessage

******************************/

.messageShow{
	border: 2px solid #dcdcdc;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 0px 5px #a9a9a9;
    width: 70%;
    margin: 0 auto;
    border-top: none;
    padding: 20px 0 40px;
}

.shareTitle{
	font-size: 18px;
	font-weight: 500;
}





/*****************************

form

******************************/

.form{
	width: 100%;
	margin: 40px 0 100px;
}

.form h2{
	border-bottom: 10px solid #b0c4de;
    padding: 40px 0 10px;
    margin: 0 auto 30px;
    width: 50%;
}

.formItem{
	padding: 10px 0;
    margin: 10px 0;
}

.formItem h3{
	margin-bottom: 10px;
}

.formItemContent{
	padding: 20px 0;
	white-space: nowrap;
	overflow-x: scroll;
	-ms-overflow-style: none;
}

.formItemContent::-webkit-scrollbar{
	display: none;
}

.userInfoForm label{
	border: 3px solid #25b7c0;
	border-radius: 10px;
	margin: 5px 7px;
	padding: 5px 7px;
	box-shadow: 0 3px #dcdcdc;
}

.newReviewForm label{
	border: 3px solid #8d93c8;
	border-radius: 10px;
	margin: 5px 7px;
	padding: 5px 7px;
	box-shadow: 0 3px #dcdcdc;
}

label:hover{
	cursor: pointer;
}

label:active{
	box-shadow: none;
}

.form textarea{
	width: 400px;
	height: 200px;
	border: 2px solid #dcdcdc;
	border-radius: 5px;
	resize: none;
}

select{
	border: 1px solid #dcdcdc;
	border-radius: 5px;
	width: 300px;
	height: 50px;
    padding: 0 20px;
    font-size: 15px;
}

input[type=radio], input[type=checkbox] {
 	display: none;
}

input[type="checkbox"]:checked + label {
	color: #ffffff;
	background: #25b7c0;
	box-shadow: none;
}

input[type="radio"]:checked + label {
	color: #ffffff;
	background: #8d93c8;
	box-shadow: none;
}


.buttons{
	padding-bottom: 40px;
}

.button{
	width: 220px;
	height: 30px;
	margin: 10px auto;
	padding: 5px 7px;
	border-radius: 7px;
	color: #ffffff;
	font-size: 20px;
	font-weight: 500;
	box-shadow: 0 3px #dcdcdc;
	border: 4px solid #a7d28d;
	background-color: #a7d28d;
}

.button a{
	color: #ffffff;
}

.button:hover{
	cursor: pointer;
}

.button:active{
	box-shadow: none;
	opacity: 0.8;
}

.submitBtn{
	display: block;
	margin: 10px auto;
	color: #ffffff;
	font-size: 20px;
	font-weight: 600;
	padding: 2px 7px;
	background-color: #5f9ea0;
	border: 2px solid #5f9ea0;
	border-radius: 5px;
}


.form .resetBtn{
	display: inline-block;
	width: 100px;
	margin-left: 7px;
	border: 4px solid #a9a9a9;
	background-color: #a9a9a9;
}

.form .submitBtn{
	display: inline-block;
	font-weight: 500;
	padding: 0;
	width: 122px;
	height: 48px;
}

.shareBtn{
	border: 4px solid #1b95e0;
	background-color: #1b95e0;
}

.closeBtn{
	font-size: 16px;
	width: 60px;
	height: 20px;
	border: 4px solid #a9a9a9;
	background-color: #a9a9a9;
}


/*****************************

Search Form

******************************/
.searchForm{
	display: none;
    border: 2px solid #dcdcdc;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 0px 5px #a9a9a9;
    width: 70%;
    margin: 0 auto;
    border-top: none;
    padding: 20px 0 40px;
}

.searchInstruction{
	font-size: 18px;
	margin: 5px 0;
	padding: 20px 0 40px;
}

.searchInput{
	border: 2px solid #dcdcdc;
	height: 35px;
	border-radius: 5px;
}

.searchBtn{
	display: inline-block;
	font-size: 18px;
	width: initial;
	height: initial;
}


/*****************************

footer

******************************/

footer{
	font-size: 11px;
	margin: 50px 0 30px;
}

.footerContent li{
	padding: 5px 4px;
	display: inline-block;
}

.copyright{
	padding: 10px 0;
	clear: left;
}




/*****************************

responsive

******************************/

@media(max-width: 500px){
	.wrapper{
		width: 100%;
	}

	.headerContents{
		margin: 0 5%;
	}

	.appTitle{
		width: 80%;
		font-size: 13px;
		margin-left: 0;
	}

	.usersSearch{
		margin-right: 0;
	}

	.introduction{
		font-size: 18px;
		padding: 40px 5%;
	}

	.notice{
		font-size: 15px;
    	width: 90%;
	}

	.searchForm{
	    width: 90%;
	}

	.searchBtn{
		display: block;
	}

	.footerContent li{
		display: block;
	}

/*****************************

form

******************************/
	.form{
		margin: 20px 0 100px;
	}

	.form h2{
		width: 80%;
	}

	.formItemContent{
		padding: 10px 10%;
		width: 60%;
		margin: 0 auto;
	}

	.userInfoForm label, .newReviewForm label{
		display: block;
		margin: 7px 0;
		white-space: normal;
	}

	.form textarea{
		margin-left: -10%; 
		width: 120%;
		height: 200px;
	}

	select{
		width: 120%;
	 	margin-left: -10%;
	}

}
