<article class="form userInfoForm">
	<h2 class="introduction userInfoIntroduction">取引プロフィール編集画面</h2>
	<div class="formContent">
		<%= form_tag("/#{@current_user.nickname}/update") do %>
		
		<div class="formItem trading">
			<h3 class="formItemTitle"><span style="border-bottom: 1px solid #000000"><i class="fas fa-check"></i> 取引の種類</span></h3>
			<div class="formItemContent">
				<input type="checkbox" name="val1" value="交換"  id="tra1">
				<label for="tra1">交換</label>
				<input type="checkbox" name="val2" value="買取" id="tra2">
				<label for="tra2">買取</label>
				<input type="checkbox" name="val3" value="譲渡" id="tra3">
				<label for="tra3">譲渡</label>
				<input type="checkbox" name="val4" value="その他" id="tra4">
				<label for="tra4">その他</label>
			</div>
	
		</div>
		
		<input class="button submitBtn" type="submit" value="保存">
		<div class="button resetBtn"><%= link_to("キャンセル", "/#{current_user.nickname}") %></div>
		<% end %>
	</div>
</article>